<div class="container-fluid sidebar">

  <div class="header">
    <div class="header-text">
      <a href="{{ root_url }}"><h1>{{ site.title }}</h1></a>
    </div>
    <div class="logo-box">
      <a href="/"><img class="logo" src="{{ root_url }}/img/me.jpg"></a>
    </div>
    <div class="buttons">
      <a href="{{ root_url }}/about/">About</a> -
      <a href="{{ root_url }}/music/">Music</a> -
      <a href="{{ root_url }}/pulp-fiction-chronological-cut/">Pulp Fiction Edit</a>
    </div>

  </div><!-- .header -->

</div><!-- .container-fluid .sidebar -->

<!-- BODY STARTS HERE -->

<div class="container-fluid bodyworks">

  <div class="content home">

    <div class="contnet-header">

      <div class="col-md-6 page-title">

        <h2>{{ page.title }}</h2>

      </div>

      <div class="col-md-6">

        <img class="userface" src="{{ root_url }}/img/me.jpg">

      </div>

  </div>

  <div class="col-md-12">
