<!DOCTYPE html>
<html lang="en">

<head class="home">

  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="stylesheet" href="{{ root_url }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ root_url }}/css/theme.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% include head.html %}

<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
</ul>

{% include footer.html %}
